@{
    ViewData["Title"] = "Home Page";
}

<div id="first" class="container-fluid ">
    <div class="row header">
        <div class="title">
            <div class="header-text">Alpha craft</div>
        </div>
    </div>
</div>