@{
    ViewData["Title"] = "Home Page";
}

<div id="first" class="container-fluid ">
    <div class="row header">
        <div class="title">
            <div class="header-text">Alpha craft</div>
        </div>
    </div>
</div>

<div class="row mx-5 px-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Get a Quote</h3>
            <p>In just a few moments, your job can be sent to available local contractors for a free no-obligation quote. Professionals will reply with an estimate for the work you are needing to get done lightning-fast.</p>
            <a asp-controller="Quote" asp-action="QuoteForm" class="icon-link">
                Get your free quote
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Search Local Contractors</h3>
            <p>Use your location or an address to discover contractors near you. See examples of their work and reviews from previous clients.</p>
            <a href="#" class="icon-link">
                Search Local Contractors
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Contractor Account</h3>
            <p>Sign up for a free account as a contractor. Alpha Craft offers the tools to help manage your business and connects you with clients seeking your services.</p>
            <a href="#" class="icon-link">
                Explore Plans
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
</div>